@use "../util" as *;

.toggle {
  display: grid;
  grid-template-columns: 1fr 4.8rem 1fr;
  align-items: center;
  gap: 1.6rem;
  border: none;
  margin: 0;

  @include respond(phone) {
    grid-template-columns: 1fr 3.2rem 1fr;
    gap: 0.8rem;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;

    &[for="light"] {
      line-height: 2.4rem;
    }
  }

  &__icon {
    color: var(--icon-color);

    @include respond(phone) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__wrapper {
    position: relative;
    height: 2.8rem;

    @include respond(phone) {
      height: 2rem;
    }
  }

  input[type="radio"] {
    opacity: 0;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 4px;

    @include respond(phone) {
      width: 1.2rem;
      height: 1.2rem;
    }

    &#light {
      left: 3px;
    }

    &#dark {
      right: 3px;
    }

    &:focus ~ .toggle__button {
      border: 2px solid white;
    }
  }

  &__background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 2rem;
    background: var(--color-purple);
    pointer-events: none;
  }

  &__button {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 100%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--dark-text1);
    transition: all 0.15s ease-in-out;

    @include respond(phone) {
      left: 3px;
      width: 1.2rem;
      height: 1.2rem;
      top: 4px;
    }
  }

  #dark:checked ~ .toggle__button {
    left: calc(100% - 24px);
    right: 4px;

    @include respond(phone) {
      left: calc(100% - 15px);
    }
  }
}
